// Fonts
$header1_font : 'Raleway', sans-serif;
$header2_font : 'Playfair Display', serif;
$main_font : 'Open Sans', sans-serif;

// Colors
$gray : #F8F8F8;
$green : #DCFFD1;
$pink : #ffd1dc;

html {
    position: relative;
    min-height: 100%;
}

.jumbotron {
  background-color: $green;
  min-height: 500px;
  text-align: center;
  h1 {
    font-family: $header1_font;
    font-weight: bolder;
    font-size: 7em;
    letter-spacing: 2px;
    margin: 50px 0;
  }
  h3{
    font-family: $header1_font;
    font-size: 3em;
    font-weight: bolder;
    letter-spacing: 2px;
  }
}

body {
  background-color: $gray;
  text-align: center;
  font-family: $main_font;
  margin: 0 0 200px; /* bottom = footer height */

  h1{
    font-family: $header1_font;
  }
  li {
    text-align: left;
  }
}

footer {
    background-color: $pink;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
}
